TEAM_ID=

PRODUCT_NAME=KJWT-HardwareTesting
PRODUCT_BUNDLE_IDENTIFIER=co.touchlab.kjwt.hardware_testing.KJWTHardwareTesting$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

FRAMEWORK_SEARCH_PATHS = $(inherited) $(SRCROOT)/../shared/build/xcode-frameworks/$(CONFIGURATION)/$(PLATFORM_NAME)$(EFFECTIVE_PLATFORM_VERSION)